<li id="{{ label }}" class="{{ command.keyword }}" data-at="{{ at | round(6) }}" {% for name, value in command.attributes.items() %}data-{{ name|replace('_', '-') }}="{{ value|replace('"', '')}}" {% endfor %}>